<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Tim O'Donnell - {{page.title}}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:0% 2.5%;width:60%;vertical-align:top">
              <h1>
                Tim O'Donnell
              </h1>
              <p style="text-align:center;font-weight:bold">
                  <a href="/">About</a> /
                  <a href="mailto:&#116;&#105;&#109;&#111;&#100;&#111;&#110;&#110;&#101;&#108;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Email</a> &nbsp;/&nbsp;
                  <a href="https://github.com/timodonnell">GitHub</a> &nbsp;/&nbsp;
                  <a href="https://scholar.google.com/citations?user=mlCWcdwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                  <a href="https://bsky.app/profile/timodonnell.bsky.social">Bluesky</a> &nbsp;
                  <!-- <a href="/pdfs/TimODonnell-CV.pdf">CV</a> -->
                  <!-- Consulting -->
                  <!-- <a href="https://docs.google.com/document/d/e/2PACX-1vS_DXfVnDL1EX5UqOcPDF30JUstDWz1OvoBXNpTRZa9IUBZzM2EQheOaU-WU_6XYrjpRD5o30-yyRXy/pub">CV</a> -->
              </p>
            </td>
          </tr>
          <tr style="padding:0px">
            <td style="padding:0% 2.5%;width:100%;vertical-align:top">
              <h2>{{ page.title }}</h2>
              {{ content }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

